.button {
    border: 1px solid green;
    border-radius: 5px;
    background-color: rgb(17, 245, 17);
    color: rgb(215, 14, 125);
    min-height: 32px;
    padding: 0 8px;
  }

  .button + .button {
    margin-left: 10px;
  }