.counter {
    display: inline-block;
    padding: 20px;
    background: rgb(89, 221, 142);
    color: rgb(49, 51, 47);
    
    
}

.plusMinus{
    background: white;
    padding: 20px;
    font-weight: bold;
}

.plusMinus:hover {
    background: red;
    color: white;
}