.form {
  padding: 16px;
}

.form-field + .form-field {
  margin-top: 16px;
}

.label {
  margin-bottom: 8px;
}
.input {
  border: 1px solid green;
  min-height: 32px;
  padding: 0 8px;
}

.button {
  border: 1px solid green;
  background-color: green;
  color: white;
  min-height: 32px;
  padding: 0 8px;
}